@import "bootstrap";

body {
  background: image_url('ps.png');
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;

}
h1, h2, h3, h4, h5, h6, .navbar{
  margin: 0;
}

.btn {
  border-radius: 0px;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.frosty {
  color: white;
}

.frost h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.95)
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0,0,0,0.95)
}

.hero{
  background: url(hero.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.login-link{
  text-align: right;
}

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('spiration.png');
}

.navbar-inverse a.navbar-brand{
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: white;
}
